@charset "ISO-8859-1";



.nj-timepick {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 5000;
    transition: right 0.7s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  


